<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Identifier</key>
	<string>io.vokal.dt.unit.cocoaTouchApplicationBase</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.iosBase</string>
		<string>com.apple.dt.unit.prefixable</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>Categories</key>
		<dict>
			<key>Path</key>
			<string>Categories</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Extensions</key>
		<dict>
			<key>Path</key>
			<string>Extensions</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>View Controllers</key>
		<dict>
			<key>Path</key>
			<string>View Controllers</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Views</key>
		<dict>
			<key>Path</key>
			<string>Views</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Views/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Controls</key>
		<dict>
			<key>Path</key>
			<string>Controls</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Controls/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Controls</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Data Sources</key>
		<dict>
			<key>Path</key>
			<string>Data Sources</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Data Sources/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Data Sources</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources</key>
		<dict>
			<key>Path</key>
			<string>Resources</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/___PACKAGENAME___.truecolors</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
			</array>
			<key>Path</key>
			<string>___PACKAGENAME___.truecolors</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/Fonts</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>Fonts</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/Fonts/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
			    <string>Resources</string>
				<string>Fonts</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/TrueColors</key>
		<dict>
			<key>Group</key>
			<string>Resources</string>
			<key>Path</key>
			<string>TrueColors</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Resources/TrueColors/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
			    <string>Resources</string>
				<string>TrueColors</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Scripts</key>
		<dict>
			<key>Path</key>
			<string>Scripts</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Scripts/Version_Incrementing_Run_Script.sh</key>
		<dict>
			<key>Path</key>
			<string>Scripts/Version_Incrementing_Run_Script.sh</string>
			<key>Group</key>
			<array>
				<string>Scripts</string>
			</array>
		</dict>
		<key>Scripts/DevsJustWantToHaveFun.sh</key>
		<dict>
			<key>Path</key>
			<string>Scripts/DevsJustWantToHaveFun.sh</string>
			<key>Group</key>
			<array>
				<string>Scripts</string>
			</array>
		</dict>
		<key>Scripts/xUnique_Run_Script.sh</key>
		<dict>
			<key>Path</key>
			<string>Scripts/xUnique_Run_Script.sh</string>
			<key>Group</key>
			<array>
				<string>Scripts</string>
			</array>
		</dict>
		<key>../travis</key>
		<dict>
			<key>Path</key>
			<string>travis</string>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>../fastlane</key>
		<dict>
			<key>Path</key>
			<string>fastlane</string>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>../Podfile</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Beginning</key>
			<string>source &apos;https://github.com/vokal/PrivatePodspecRepo-iOS.git&apos;
source &apos;https://github.com/CocoaPods/Specs.git&apos;

platform :ios, &apos;9.0&apos;

target &apos;___PACKAGENAME___&apos; do
    pod &apos;xUnique&apos;
    pod &apos;DevsJustWantToHaveFun&apos;
</string>
			<key>End</key>
			<string>

    target &apos;___PACKAGENAME___Tests&apos; do
        # Put pods used for both test targets here
        pod &apos;VOKMockUrlProtocol&apos;
        
        target &apos;___PACKAGENAME___UITests&apos; do
            # Put UI-testing-only pods here
            pod &apos;KIF&apos;
        end
    end

end

post_install do | installer |
    # Update acknowledgements in the Settings.bundle from pods automagically
    require &apos;fileutils&apos;
    FileUtils.cp_r(&apos;Pods/Target Support Files/Pods-___PACKAGENAME___/Pods-___PACKAGENAME___-acknowledgements.plist&apos;, &apos;___PACKAGENAME___/Settings.bundle/Acknowledgements.plist&apos;, :remove_destination => true)
end
</string>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>../Gemfile</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>Gemfile</string>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>../README.md</key>
		<dict>
			<key>Beginning</key>
			<string># ___PACKAGENAME___</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>../.travis.yml</key>
		<dict>
			<key>Path</key>
			<string>.travis.yml</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>../.drone.yml</key>
		<dict>
			<key>Path</key>
			<string>.drone.yml</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>../.gitignore</key>
		<dict>
			<key>Path</key>
			<string>.gitignore</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>___PACKAGENAME___.xcscheme</string>
		</dict>
		<key>Base.lproj/LaunchScreen.xib</key>
		<dict>
			<key>Path</key>
			<string>LaunchScreen.xib</string>
			<key>SortOrder</key>
			<integer>101</integer>
		</dict>
		<key>Base.lproj/Main-___PACKAGENAME___.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main-___PACKAGENAME___.storyboard</string>
			<key>SortOrder</key>
			<string>100</string>
		</dict>
		<key>Info.plist:iPhone</key>
		<string>&lt;key&gt;LSRequiresIPhoneOS&lt;/key&gt;
&lt;true/&gt;</string>
		<key>Info.plist:LaunchScreen</key>
		<string>&lt;key&gt;UILaunchStoryboardName&lt;/key&gt;
&lt;string&gt;LaunchScreen&lt;/string&gt;
</string>
		<key>Info.plist:PackageType</key>
		<string>&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;APPL&lt;/string&gt;
</string>
		<key>Info.plist:statusBarTintForNavBar</key>
		<string>&lt;key&gt;UIStatusBarTintParameters&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;UINavigationBar&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;Style&lt;/key&gt;
        &lt;string&gt;UIBarStyleDefault&lt;/string&gt;
        &lt;key&gt;Translucent&lt;/key&gt;
        &lt;false/&gt;
    &lt;/dict&gt;
&lt;/dict&gt;
</string>
		<key>Info.plist:UIMainStoryboardFile</key>
		<string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
&lt;string&gt;Main-___PACKAGENAME___&lt;/string&gt;</string>
		<key>Info.plist:UIRequiredDeviceCapabilities</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;key&gt;UIRequiredDeviceCapabilities&lt;/key&gt;
&lt;array&gt;</string>
			<key>End</key>
			<string>&lt;/array&gt;</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>Info.plist:UIRequiredDeviceCapabilities:base</key>
		<string>&lt;string&gt;armv7&lt;/string&gt;</string>
		<key>Settings.bundle</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>Settings.bundle</string>
		</dict>
	</dict>
    
	<key>Nodes</key>
	<array>
		<string>Controls</string>
		<string>Controls/.gitkeep</string>
		<string>Data Sources</string>
		<string>Data Sources/.gitkeep</string>
		<string>Resources</string>
		<string>Resources/___PACKAGENAME___.truecolors</string>
		<string>Resources/Fonts</string>
		<string>Resources/Fonts/.gitkeep</string>
		<string>Resources/TrueColors</string>
		<string>Resources/TrueColors/.gitkeep</string>
		<string>Views</string>
		<string>Views/.gitkeep</string>
		<string>View Controllers</string>
		<string>../Gemfile</string>
		<string>../Podfile</string>
		<string>../travis</string>
		<string>../fastlane</string>
		<string>../README.md</string>
		<string>../.gitignore</string>
		<string>../.travis.yml</string>
		<string>../.drone.yml</string>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</string>
		<string>Images.xcassets</string>
		<string>Info.plist:iPhone</string>
		<string>Info.plist:LaunchScreen</string>
		<string>Info.plist:PackageType</string>
		<string>Info.plist:UIMainStoryboardFile</string>
		<string>Info.plist:UIRequiredDeviceCapabilities:base</string>
		<string>Base.lproj/LaunchScreen.xib</string>
		<string>Base.lproj/Main-___PACKAGENAME___.storyboard</string>
		<string>Scripts</string>
		<string>Scripts/Version_Incrementing_Run_Script.sh</string>
		<string>Scripts/xUnique_Run_Script.sh</string>
		<string>Scripts/DevsJustWantToHaveFun.sh</string>
		<string>Settings.bundle</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Universal</string>
			<key>Description</key>
			<string>Which device family to create a project for</string>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Name</key>
			<string>Devices:</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-Universal.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Info.plist:UISupportedInterfaceOrientations~iPhone</string>
						<string>Info.plist:UISupportedInterfaceOrientations~iPad</string>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1,2</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-iPad.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Info.plist:UISupportedInterfaceOrientations~iPad</string>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>2</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Images.xcassets</key>
						<dict>
							<key>Path</key>
							<string>Images-iPhone.xcassets</string>
							<key>SortOrder</key>
							<integer>100</integer>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Info.plist:UISupportedInterfaceOrientations~iPhone</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>SharedSettings</key>
		<dict>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
			<key>SWIFT_VERSION</key>
			<string>3.0</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>Version Incrementing Run Script</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>"${SRCROOT}/___PACKAGENAME___/Scripts/Version_Incrementing_Run_Script.sh"</string>
				</dict>
			</array>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
			</dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchApplicationTarget</string>
		</dict>
	</array>
</dict>
</plist>
