<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<true/>
	<key>Identifier</key>
	<string>io.vokal.xcodeTemplate</string>
	<key>Description</key>
	<string>Starter Objective-C project for Vokal iOS projects</string>
	<key>Ancestors</key>
	<array>
		<string>io.vokal.dt.unit.cocoaTouchApplicationBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>SharedSettings</key>
			<dict>
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>YES</string>
				<key>GCC_PREFIX_HEADER</key>
				<string>___PACKAGENAME___/Prefix.pch</string>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>Objective-Clean Run Script</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>&quot;${SRCROOT}/___PACKAGENAME___/Scripts/Objective_Clean_Run_Script.sh&quot;</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Components</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>io.vokal.dt.unit.iosUnitTestBundleBase</string>
			<key>Name</key>
			<string>___PACKAGENAME___Tests</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>io.vokal.dt.unit.aggregateScriptsTarget-objc</string>
			<key>Name</key>
			<string>Code Generation Scripts</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>../VokalObjCleanStyleSettings.plist</string>
		<string>Categories/.gitkeep</string>
		<string>main.m</string>
		<string>Prefix.pch</string>
		<string>___VARIABLE_classPrefix___AppDelegate.h</string>
		<string>___VARIABLE_classPrefix___AppDelegate.m</string>
		<string>___VARIABLE_classPrefix___TestingAppDelegate.h</string>
		<string>___VARIABLE_classPrefix___TestingAppDelegate.m</string>
		<string>View Controllers/___VARIABLE_classPrefix___ViewController.h</string>
		<string>View Controllers/___VARIABLE_classPrefix___ViewController.m</string>
		<string>Scripts/Objective_Clean_Run_Script.sh</string>
		<string>Protocols/___VARIABLE_classPrefix___CommonInitializedView.h</string>
		<string>Controls/Base/___VARIABLE_classPrefix___BaseControl.h</string>
		<string>Controls/Base/___VARIABLE_classPrefix___BaseControl.m</string>
		<string>Controls/Base/___VARIABLE_classPrefix___BaseButton.h</string>
		<string>Controls/Base/___VARIABLE_classPrefix___BaseButton.m</string>
		<string>Controls/Base/___VARIABLE_classPrefix___BaseTextField.h</string>
		<string>Controls/Base/___VARIABLE_classPrefix___BaseTextField.m</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseView.h</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseView.m</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseImageView.h</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseImageView.m</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseTextView.h</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseTextView.m</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseTableViewCell.h</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseTableViewCell.m</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseTableViewHeaderFooterView.h</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseTableViewHeaderFooterView.m</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseLabel.h</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseLabel.m</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseCollectionViewCell.h</string>
		<string>Views/Base/___VARIABLE_classPrefix___BaseCollectionViewCell.m</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../VokalObjCleanStyleSettings.plist</key>
		<dict>
			<key>Path</key>
			<string>VokalObjCleanStyleSettings.plist</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<string>Non-iOS Resources</string>
		</dict>
		<key>Categories/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Categories</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>main.m</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.m</string>
		</dict>
		<key>Prefix.pch</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Prefix.pch</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>___VARIABLE_classPrefix___AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___AppDelegate.h</string>
		</dict>
		<key>___VARIABLE_classPrefix___AppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___AppDelegate.m</string>
		</dict>
		<key>___VARIABLE_classPrefix___TestingAppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___TestingAppDelegate.h</string>
		</dict>
		<key>___VARIABLE_classPrefix___TestingAppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___TestingAppDelegate.m</string>
		</dict>
		<key>View Controllers/___VARIABLE_classPrefix___ViewController.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___ViewController.h</string>
			<key>Group</key>
			<string>View Controllers</string>
		</dict>
		<key>View Controllers/___VARIABLE_classPrefix___ViewController.m</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___ViewController.m</string>
			<key>Group</key>
			<string>View Controllers</string>
		</dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Beginning</key>
			<string>#warning Delete this file</string>
		</dict>
		<key>AppDelegate.m</key>
		<dict>
			<key>Beginning</key>
			<string>#warning Delete this file</string>
		</dict>
		<key>Scripts/Objective_Clean_Run_Script.sh</key>
		<dict>
			<key>Path</key>
			<string>Scripts/Objective_Clean_Run_Script.sh</string>
			<key>Group</key>
			<array>
				<string>Scripts</string>
			</array>
		</dict>
		<key>Protocols/___VARIABLE_classPrefix___CommonInitializedView.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___CommonInitializedView.h</string>
			<key>Group</key>
			<string>Protocols</string>
		</dict>
		<key>Controls/Base/___VARIABLE_classPrefix___BaseControl.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseControl.h</string>
			<key>Group</key>
			<array>
				<string>Controls</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Controls/Base/___VARIABLE_classPrefix___BaseControl.m</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseControl.m</string>
			<key>Group</key>
			<array>
				<string>Controls</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Controls/Base/___VARIABLE_classPrefix___BaseButton.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseButton.h</string>
			<key>Group</key>
			<array>
				<string>Controls</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Controls/Base/___VARIABLE_classPrefix___BaseButton.m</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseButton.m</string>
			<key>Group</key>
			<array>
				<string>Controls</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Controls/Base/___VARIABLE_classPrefix___BaseTextField.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseTextField.h</string>
			<key>Group</key>
			<array>
				<string>Controls</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Controls/Base/___VARIABLE_classPrefix___BaseTextField.m</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseTextField.m</string>
			<key>Group</key>
			<array>
				<string>Controls</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseView.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseView.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseView.m</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseView.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseImageView.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseImageView.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseImageView.m</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseImageView.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseTextView.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseTextView.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseTextView.m</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseTextView.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseTableViewCell.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseTableViewCell.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseTableViewCell.m</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseTableViewCell.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseTableViewHeaderFooterView.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseTableViewHeaderFooterView.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseTableViewHeaderFooterView.m</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseTableViewHeaderFooterView.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseLabel.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseLabel.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseLabel.m</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseLabel.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseCollectionViewCell.h</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseCollectionViewCell.h</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/___VARIABLE_classPrefix___BaseCollectionViewCell.m</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_classPrefix___BaseCollectionViewCell.m</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
	</dict>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_INSTRUMENT_PROGRAM_FLOW_ARCS</key>
				<string>YES</string>
				<key>GCC_GENERATE_TEST_COVERAGE_FILES</key>
				<string>YES</string>
			</dict>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>classPrefix</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<string>NO</string>
			<key>Name</key>
			<string>Class Prefix</string>
			<key>Description</key>
			<string>The prefix for all the classes in the bundle.</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>AFNetworkingEnabled</string>
			<key>Name</key>
			<string>Include AFNetworking</string>
			<key>Description</key>
			<string>Adds AFNetworking as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:afpod</key>
						<string>    pod &apos;AFNetworking&apos;, &apos;~&gt; 3.1&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:afpod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>BasicUserAuthentication</string>
			<key>RequiredOptions</key>
			<dict>
				<key>AFNetworkingEnabled</key>
				<string>true</string>
			</dict>
			<key>Name</key>
			<string>Include starter network utility (requires AFNetworking)</string>
			<key>Description</key>
			<string>Adds NetworkAPIUtility class</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Info.plist:ProdServer</key>
						<string>&lt;key&gt;USE_PRODUCTION_SERVER&lt;/key&gt;
&lt;string&gt;${USE_PRODUCTION_SERVER}&lt;/string&gt;</string>
						<key>Networking/___VARIABLE_classPrefix___NetworkAPIUtility.h</key>
						<dict>
							<key>TargetIndices</key>
							<array/>
							<key>Path</key>
							<string>___VARIABLE_classPrefix___NetworkAPIUtility.h</string>
							<key>Group</key>
							<array>
								<string>Networking</string>
							</array>
						</dict>
						<key>Networking/___VARIABLE_classPrefix___NetworkAPIUtility.m</key>
						<dict>
							<key>Path</key>
							<string>___VARIABLE_classPrefix___NetworkAPIUtility.m</string>
							<key>Group</key>
							<array>
								<string>Networking</string>
							</array>
						</dict>
						<key>Networking/___VARIABLE_classPrefix___HTTPSessionManager.h</key>
						<dict>
							<key>TargetIndices</key>
							<array/>
							<key>Path</key>
							<string>___VARIABLE_classPrefix___HTTPSessionManager.h</string>
							<key>Group</key>
							<array>
								<string>Networking</string>
							</array>
						</dict>
						<key>Networking/___VARIABLE_classPrefix___HTTPSessionManager.m</key>
						<dict>
							<key>Path</key>
							<string>___VARIABLE_classPrefix___HTTPSessionManager.m</string>
							<key>Group</key>
							<array>
								<string>Networking</string>
							</array>
						</dict>
						<key>MoveToTestTarget/___VARIABLE_classPrefix___HTTPSessionManager+MockData.h</key>
						<dict>
							<key>TargetIndices</key>
							<array/>
							<key>Path</key>
							<string>___VARIABLE_classPrefix___HTTPSessionManager+MockData.h</string>
							<key>Group</key>
							<array>
								<string>MoveToTestTarget</string>
							</array>
						</dict>
						<key>MoveToTestTarget/___VARIABLE_classPrefix___HTTPSessionManager+MockData.m</key>
						<dict>
							<key>Path</key>
							<string>___VARIABLE_classPrefix___HTTPSessionManager+MockData.m</string>
							<key>Group</key>
							<array>
								<string>MoveToTestTarget</string>
							</array>
						</dict>
						<key>MoveToTestTarget/___VARIABLE_classPrefix___UserAPITests.m</key>
						<dict>
							<key>Path</key>
							<string>___VARIABLE_classPrefix___UserAPITests.m</string>
							<key>Group</key>
							<string>MoveToTestTarget</string>
						</dict>
						<key>MoveToTestTarget/VOKMockData</key>
						<dict>
							<key>Path</key>
							<string>VOKMockData</string>
							<key>Group</key>
							<array>
								<string>MoveToTestTarget</string>
							</array>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Info.plist:ProdServer</string>
						<string>Networking/___VARIABLE_classPrefix___NetworkAPIUtility.h</string>
						<string>Networking/___VARIABLE_classPrefix___NetworkAPIUtility.m</string>
						<string>Networking/___VARIABLE_classPrefix___HTTPSessionManager.h</string>
						<string>Networking/___VARIABLE_classPrefix___HTTPSessionManager.m</string>
						<string>MoveToTestTarget/___VARIABLE_classPrefix___HTTPSessionManager+MockData.h</string>
						<string>MoveToTestTarget/___VARIABLE_classPrefix___HTTPSessionManager+MockData.m</string>
						<string>MoveToTestTarget/___VARIABLE_classPrefix___UserAPITests.m</string>
						<string>MoveToTestTarget/VOKMockData</string>
					</array>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>USE_PRODUCTION_SERVER</key>
								<string>NO</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>Cat2CatEnabled</string>
			<key>Name</key>
			<string>Include Cat2Cat</string>
			<key>Description</key>
			<string>Adds Cat2Cat as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:cat2catpod</key>
						<string>    pod &apos;Cat2Cat&apos;</string>
						<key>Scripts/Cat2Cat.sh</key>
						<dict>
							<key>TargetIndices</key>
							<array/>
							<key>Path</key>
							<string>Scripts/Cat2Cat.sh</string>
							<key>Group</key>
							<array>
								<string>Scripts</string>
							</array>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:cat2catpod</string>
						<string>Scripts/Cat2Cat.sh</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>VokoderEnabled</string>
			<key>Name</key>
			<string>Include Vokoder + Core Data</string>
			<key>Description</key>
			<string>Adds Vokoder as a CocoaPod and the MOGenerator Script</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>CoreDataAndModels/___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
							<key>Group</key>
							<array>
								<string>CoreDataAndModels</string>
							</array>
						</dict>
						<key>CoreDataAndModels/___VARIABLE_classPrefix___CoreDataUtility.h</key>
						<dict>
							<key>TargetIndices</key>
							<array/>
							<key>Path</key>
							<string>___VARIABLE_classPrefix___CoreDataUtility.h</string>
							<key>Group</key>
							<array>
								<string>CoreDataAndModels</string>
							</array>
						</dict>
						<key>CoreDataAndModels/___VARIABLE_classPrefix___CoreDataUtility.m</key>
						<dict>
							<key>Path</key>
							<string>___VARIABLE_classPrefix___CoreDataUtility.m</string>
							<key>Group</key>
							<array>
								<string>CoreDataAndModels</string>
							</array>
						</dict>
						<key>CoreDataAndModels/</key>
						<dict>
							<key>TargetIndices</key>
							<array/>
							<key>Path</key>
							<string>CoreDataAndModels</string>
						</dict>
						<key>../Podfile:vokoderpod</key>
						<string>    pod &apos;Vokoder&apos;</string>
						<key>Scripts/MOGenerator.sh</key>
						<dict>
							<key>TargetIndices</key>
							<array/>
							<key>Path</key>
							<string>Scripts/MOGenerator.sh</string>
							<key>Group</key>
							<array>
								<string>Scripts</string>
							</array>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>CoreDataAndModels/___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
						<string>CoreDataAndModels/___VARIABLE_classPrefix___CoreDataUtility.h</string>
						<string>CoreDataAndModels/___VARIABLE_classPrefix___CoreDataUtility.m</string>
						<string>CoreDataAndModels</string>
						<string>../Podfile:vokoderpod</string>
						<string>Scripts/MOGenerator.sh</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>SAMKeychainUserPodEnabled</string>
			<key>Name</key>
			<string>Include SAMKeychain User Creds</string>
			<key>Description</key>
			<string>Adds SAMKeychain User Creds as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:samkeychainpod</key>
						<string>    pod &apos;SAMKeychain&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:samkeychainpod</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_Universal.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
