<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Variables</key>
	<dict>
		<key>Swift</key>
		<dict>
			<key>ibCustomModuleProvider</key>
			<string>target</string>
			<key>moduleNamePrefixForClasses</key>
			<string>$(PRODUCT_MODULE_NAME).</string>
		</dict>
		<key>Objective-C</key>
		<dict>
			<key>ibCustomModuleProvider</key>
			<string></string>
			<key>moduleNamePrefixForClasses</key>
			<string></string>
		</dict>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Concrete</key>
	<true/>
	<key>Identifier</key>
	<string>io.vokal.xcodeTemplate-swift</string>
	<key>Description</key>
	<string>Swift starter project for Vokal iOS projects</string>
	<key>Ancestors</key>
	<array>
		<string>io.vokal.dt.unit.cocoaTouchApplicationBase</string>
	</array>
	<key>Components</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>io.vokal.dt.unit.iosUnitTestBundleBase-swift</string>
			<key>Name</key>
			<string>___PACKAGENAME___Tests</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>io.vokal.dt.unit.aggregateScriptsTarget-swift</string>
			<key>Name</key>
			<string>Code Generation Scripts</string>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>SharedSettings</key>
			<dict>
				<key>PRODUCT_NAME</key>
				<string>$(TARGET_NAME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>SwiftLint Run Script</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>&quot;${PODS_ROOT}/SwiftLint/swiftlint&quot;</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>main.swift</string>
		<string>../R.generated.swift</string>
		<string>AppDelegate.swift</string>
		<string>TestingAppDelegate.swift</string>
		<string>View Controllers/ViewController.swift</string>
		<string>Protocols/CommonInitializedView.swift</string>
		<string>Extensions/.gitkeep</string>
		<string>Controls/Base/BaseControl.swift</string>
		<string>Controls/Base/BaseButton.swift</string>
		<string>Controls/Base/BaseTextField.swift</string>
		<string>Views/Base/BaseView.swift</string>
		<string>Views/Base/BaseImageView.swift</string>
		<string>Views/Base/BaseTextView.swift</string>
		<string>Views/Base/BaseTableViewCell.swift</string>
		<string>Views/Base/BaseTableViewHeaderFooterView.swift</string>
		<string>Views/Base/BaseLabel.swift</string>
		<string>Views/Base/BaseCollectionViewCell.swift</string>
		<string>../Podfile:swiftbasics</string>
		<string>Utilities/DLog.swift</string>
		<string>../.swiftlint.yml</string>
		<string>Scripts/R.swift.sh</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../Podfile:swiftbasics</key>
		<string>    use_frameworks!

    pod &apos;R.swift&apos;
    pod &apos;SwiftLint&apos;</string>
		<key>Extensions/.gitkeep</key>
		<dict>
			<key>Group</key>
			<string>Extensions</string>
			<key>Path</key>
			<string>.gitkeep</string>
		</dict>
		<key>View Controllers/ViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>ViewController.swift</string>
			<key>Group</key>
			<string>View Controllers</string>
		</dict>
		<key>Protocols/CommonInitializedView.swift</key>
		<dict>
			<key>Path</key>
			<string>CommonInitializedView.swift</string>
			<key>Group</key>
			<string>Protocols</string>
		</dict>
		<key>Controls/Base/BaseControl.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseControl.swift</string>
			<key>Group</key>
			<array>
				<string>Controls</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Controls/Base/BaseButton.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseButton.swift</string>
			<key>Group</key>
			<array>
				<string>Controls</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Controls/Base/BaseTextField.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseTextField.swift</string>
			<key>Group</key>
			<array>
				<string>Controls</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/BaseView.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseView.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/BaseImageView.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseImageView.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/BaseTextView.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseTextView.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/BaseTableViewCell.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseTableViewCell.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/BaseTableViewHeaderFooterView.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseTableViewHeaderFooterView.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/BaseLabel.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseLabel.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>Views/Base/BaseCollectionViewCell.swift</key>
		<dict>
			<key>Path</key>
			<string>BaseCollectionViewCell.swift</string>
			<key>Group</key>
			<array>
				<string>Views</string>
				<string>Base</string>
			</array>
		</dict>
		<key>AppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.swift</string>
		</dict>
		<key>main.swift</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>main.swift</string>
		</dict>
		<key>../R.generated.swift</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>../R.generated.swift</string>
		</dict>
		<key>TestingAppDelegate.swift</key>
		<dict>
			<key>Path</key>
			<string>TestingAppDelegate.swift</string>
		</dict>
		<key>Utilities/DLog.swift</key>
		<dict>
			<key>Path</key>
			<string>DLog.swift</string>
			<key>Group</key>
			<string>Utilities</string>
		</dict>
		<key>../.swiftlint.yml</key>
		<dict>
			<key>Path</key>
			<string>.swiftlint.yml</string>
			<key>Group</key>
			<string>Non-iOS Resources</string>
		</dict>
		<key>Scripts/R.swift.sh</key>
		<dict>
			<key>Path</key>
			<string>Scripts/R.swift.sh</string>
			<key>Group</key>
			<string>Scripts</string>
		</dict>
	</dict>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>SWIFT_OPTIMIZATION_LEVEL</key>
				<string>-Onone</string>
				<key>GCC_INSTRUMENT_PROGRAM_FLOW_ARCS</key>
				<string>YES</string>
				<key>GCC_GENERATE_TEST_COVERAGE_FILES</key>
				<string>YES</string>
				<key>OTHER_SWIFT_FLAGS</key>
				<string>-D DEBUG</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>SWIFT_OPTIMIZATION_LEVEL</key>
				<string>-Owholemodule</string>
			</dict>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>SWIFT_VERSION</key>
			<string>5.0</string>
		</dict>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>AlamofireEnabled</string>
			<key>Name</key>
			<string>Include Alamofire</string>
			<key>Description</key>
			<string>Adds Alamofire as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:afpod</key>
						<string>    pod &apos;Alamofire&apos;, &apos;~&gt; 4.7&apos;</string>
						<key>../Podfile:ilghttp</key>
						<string>    pod &apos;ILGHttpConstants&apos;, &apos;~&gt; 2.0&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:afpod</string>
						<string>../Podfile:ilghttp</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>SwiftKeychainEnabled</string>
			<key>Name</key>
			<string>Include SwiftKeychainWrapper User Creds</string>
			<key>Description</key>
			<string>Adds SwiftKeychainWrapper as a CocoaPod</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>../Podfile:swiftkeychainwrapper</key>
						<string>    pod &apos;SwiftKeychainWrapper&apos;, &apos;~&gt; 3.0&apos;</string>
					</dict>
					<key>Nodes</key>
					<array>
						<string>../Podfile:swiftkeychainwrapper</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>BasicUserAuthentication</string>
			<key>RequiredOptions</key>
			<dict>
				<key>AlamofireEnabled</key>
				<string>true</string>
				<key>SwiftKeychainEnabled</key>
				<string>true</string>
			</dict>
			<key>Name</key>
			<string>Include starter network utility (requires AF + SKW)</string>
			<key>Description</key>
			<string>Adds API Utility and associated classes</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Info.plist:ProdServer</key>
						<string>&lt;key&gt;USE_PRODUCTION_SERVER&lt;/key&gt;
&lt;string&gt;${USE_PRODUCTION_SERVER}&lt;/string&gt;</string>
						<key>Network/MainAPIUtility.swift</key>
						<dict>
							<key>Path</key>
							<string>MainAPIUtility.swift</string>
							<key>Group</key>
							<string>Network</string>
						</dict>
						<key>Network/ServerEnvironment.swift</key>
						<dict>
							<key>Path</key>
							<string>ServerEnvironment.swift</string>
							<key>Group</key>
							<string>Network</string>
						</dict>
						<key>Network/ResetPasswordAPI.swift</key>
						<dict>
							<key>Path</key>
							<string>ResetPasswordAPI.swift</string>
							<key>Group</key>
							<string>Network</string>
						</dict>
						<key>Network/UserAPI.swift</key>
						<dict>
							<key>Path</key>
							<string>UserAPI.swift</string>
							<key>Group</key>
							<string>Network</string>
						</dict>
						<key>Network/HTTPSessionManager.swift</key>
						<dict>
							<key>Path</key>
							<string>HTTPSessionManager.swift</string>
							<key>Group</key>
							<string>Network</string>
						</dict>
						<key>Network/NetworkError.swift</key>
						<dict>
							<key>Path</key>
							<string>NetworkError.swift</string>
							<key>Group</key>
							<string>Network</string>
						</dict>
						<key>Network/TokenStorageHelper.swift</key>
						<dict>
							<key>Path</key>
							<string>TokenStorageHelper.swift</string>
							<key>Group</key>
							<string>Network</string>
						</dict>
						<key>MoveToTestTarget/VOKMockData</key>
						<dict>
							<key>Path</key>
							<string>VOKMockData</string>
							<key>Group</key>
							<string>MoveToTestTarget</string>
						</dict>
						<key>MoveToTestTarget/HTTPSessionManager+MockData.swift</key>
						<dict>
							<key>Path</key>
							<string>HTTPSessionManager+MockData.swift</string>
							<key>Group</key>
							<string>MoveToTestTarget</string>
						</dict>
						<key>MoveToTestTarget/APICompletionTests.swift</key>
						<dict>
							<key>Path</key>
							<string>APICompletionTests.swift</string>
							<key>Group</key>
							<string>MoveToTestTarget</string>
						</dict>
						<key>MoveToTestTarget/UserAPITests.swift</key>
						<dict>
							<key>Path</key>
							<string>UserAPITests.swift</string>
							<key>Group</key>
							<string>MoveToTestTarget</string>
						</dict>
						<key>MoveToTestTarget/TokenStorageHelperTests.swift</key>
						<dict>
							<key>Path</key>
							<string>TokenStorageHelperTests.swift</string>
							<key>Group</key>
							<string>MoveToTestTarget</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>Info.plist:ProdServer</string>
						<string>Network/HTTPSessionManager.swift</string>
						<string>Network/MainAPIUtility.swift</string>
						<string>Network/NetworkError.swift</string>
						<string>Network/ResetPasswordAPI.swift</string>
						<string>Network/ServerEnvironment.swift</string>
						<string>Network/TokenStorageHelper.swift</string>
						<string>Network/UserAPI.swift</string>
						<string>MoveToTestTarget/HTTPSessionManager+MockData.swift</string>
						<string>MoveToTestTarget/TokenStorageHelperTests.swift</string>
						<string>MoveToTestTarget/UserAPITests.swift</string>
						<string>MoveToTestTarget/APICompletionTests.swift</string>
						<string>MoveToTestTarget/VOKMockData</string>
					</array>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>USE_PRODUCTION_SERVER</key>
								<string>NO</string>
							</dict>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>VokoderEnabled</string>
			<key>Name</key>
			<string>Include Vokoder + Core Data</string>
			<key>Description</key>
			<string>Adds Vokoder as a CocoaPod and the MOGenerator script</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>NotPersisted</key>
			<true/>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>CoreDataAndModels/___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</key>
						<dict>
							<key>Path</key>
							<string>___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
							<key>Group</key>
							<string>CoreDataAndModels</string>
						</dict>
						<key>CoreDataAndModels/CoreDataUtility.swift</key>
						<dict>
							<key>Path</key>
							<string>CoreDataUtility.swift</string>
							<key>Group</key>
							<string>CoreDataAndModels</string>
						</dict>
						<key>../Podfile:vokoderpod</key>
						<string>    pod &apos;Vokoder/Swift&apos;, &apos;~&gt; 4.0.1&apos;</string>
						<key>Scripts/MOGenerator.sh</key>
						<dict>
							<key>TargetIndices</key>
							<array/>
							<key>Path</key>
							<string>Scripts/MOGenerator.sh</string>
							<key>Group</key>
							<string>Scripts</string>
						</dict>
					</dict>
					<key>Nodes</key>
					<array>
						<string>CoreDataAndModels/___PACKAGENAMEASIDENTIFIER___.xcdatamodeld</string>
						<string>CoreDataAndModels/CoreDataUtility.swift</string>
						<string>CoreDataAndModels</string>
						<string>../Podfile:vokoderpod</string>
						<string>Scripts/MOGenerator.sh</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_Universal.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPad.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main_iPhone.storyboard</string>
							<key>SortOrder</key>
							<integer>99</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
